.activity
  .action
    %i{class: icon}
  .message
    %small
      %em.muted
        Vor
        = time_ago_in_words activity.created_at
        von
        = activity.owner.name
    %br
    = action
    - p = activity.parameters
    .label= p[:event_category_title]
    am
    .label= l p[:occurred_on]
    für
    .label= p[:client_full_name]
    von
    .label= p[:therapist_full_name]
