%table.table
  %caption Users
  %thead
    %tr
      %th Name
      %th Email
      %th Created
      %th Roles
      %th Therapist
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.created_at.to_date.to_s(:de)
        %td= user.roles.map(&:name).map(&:titleize).join(', ')
        %td= user.therapist.try(:abbrv)
        %td= edit_link(edit_user_path(user))
        %td= destroy_link(user_path(user)) unless user == current_user

= new_link 'Add User', new_user_path
