= simple_form_for(@client, html: {class: 'form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :active
    = f.input :first_name
    = f.input :last_name
    = datepicker_field(f, :dob)
    = f.input :therapist_list, label: "Therapists (available list #{Therapist.abbreviations.join(', ')})"

  .form-actions
    = f.button :submit, class: 'btn-primary'
    = cancel_link clients_path

