= simple_form_for(@event) do |f|
  = f.error_notification

  = f.association :therapist
  = f.association :event_category
  = f.association :user
  = f.input :occurred_on
  = f.association :client

  = f.button :submit
