#events(ng-controller='showEventsCtrl')
  %h4 Review Events
  .row(ng-hide='inProgress')
    .col-sm-4
      %input(tk-select2='{allowClear: true}' ng-multiple="false" data-placeholder="Filter by Therapist" ng-model="current.therapist" collection='therapists')
      %label.all-box
        %input(type='checkbox' ng-model='showAllTherapistEvents')
        Show billed & unbilled events

    .col-sm-4
      %input(tk-select2='{allowClear: true}' data-placeholder='Filter by Activity' ng-model='current.category' collection='categories')

    .col-sm-4
      %input(tk-select2='{allowClear: true}' data-placeholder="Filter by Client" ng-model="current.client" collection='clients')

  -#.row
  -#  %button(ng-click='$emit("showProgress", {title: "my Title"})') Show Progress
  -#  %button(ng-click='$emit("hideProgress", {slow: true})') Hide Progress
  -#  %button(ng-click='$emit("showError", {title: "my Title", description: "Problem doing something very important.  Try again", details: ["Missing one", "Missing two", "You must supply three"]})') Show Error
  -#  %button(ng-click='$emit("hideError")') Hide Error

  .row
    -#{{ current.therapist }}
    -#{{ current.client }}
    -#{{ current.category }}
    -#{{ categories }}
    -#{{ clients }}

  .row
    .col-xs-12
      .calendar(tk-event-calendar="{aspectRatio: 2, defaultView: 'month'}" event-options='eventOptions' ng-model="events")
      %tk-event-popover(on-remove-event='reloadEvents()')
