.row
  .col-sm-6
    = simple_form_for([parent, @bill]) do |f|
      = f.error_notification

      .row
        .col-xs-5
          = datepicker_field(f, :billed_on)
      = f.input :number

      = f.button :submit
      = cancel_link(therapist_bills_path(parent))

#included
  = render 'included', bill_items: @bill.bill_items.by_name
#excluded
  = render 'excluded', bill_items: parent.unbilled_items(@bill.billed_on)
