.row-fluid
  .span8
    %h4 Excluded Events
    %table.table.tablesorter.table-bill-items.table-condensed
      %thead
        %tr
          %th Name
          %th Date
          %th Activity
          %th
      %tbody
        - bill_items.each do |bi|
          %tr
            %td= client_name bi.client, length: 30
            %td= bi.occurred_on.to_s(:de)
            %td= bi.event_category_title
            %td
              = form_for bi do |f|
                = f.hidden_field :bill_id, value: @bill.id
                = f.hidden_field :event_id
                = f.submit 'Add', class: 'btn btn-mini'
