- entries = ActiveModel::ArraySerializer.new(@bills, each_serializer: D3BillSerializer)
.row(ng-init="bill.amount={entries:#{entries.to_json}}")
  .col-sm-12
    %strong Bill Totals
  .col-sm-12{style: 'height: 200px'}
    %fs-area(label="Euro" interpolate="true" bind="bill.amount")


.row
  .col-sm-1
    = new_link 'Add Bill', new_therapist_bill_path(parent)

.row
  .col-sm-8
    %table.table.table-responsive
      %caption Bills
      %tr
        %th Billed on
        %th Bill Number
        %th.money Total
        %th
        %th

      - @bills.each do |bill|
        %tr
          %td= bill.billed_on.to_s(:de)
          %td= link_to(bill.number, bill)
          = td_money(bill.total)
          %td.edit-link= edit_link edit_therapist_bill_path(parent, bill)
          %td.destroy-link= destroy_link([parent, bill])
